<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chemie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chemie.Properties.Settings>
            <setting name="background" serializeAs="String">
                <value>Ano</value>
            </setting>
            <setting name="head" serializeAs="String">
                <value>#b9d1ea</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>Světlý</value>
            </setting>
            <setting name="hdtextcolor" serializeAs="String">
                <value>Tmavý</value>
            </setting>
            <setting name="applang" serializeAs="String">
                <value>CZ</value>
            </setting>
        </Chemie.Properties.Settings>
    </userSettings>
</configuration>